# linexd
on init
    exec u:r:recovery:s0 -- /sbin/linexd.sh

on boot
    start charger_led
    write /sys/class/touch/touch_dev/move_distance_threshold 1
    write /sys/class/touch/touch_dev/click_threshold 0
    write /sys/class/touch/tp_dev/touch_th 0
    write /sys/class/touch/touch_dev/touch_th 0
    write /sys/class/touch/touch_dev/glove_mode 1

service charger_led /system/bin/charger_led
    user root
    group root
    file /dev/kmsg w
    oneshot
    seclabel u:r:recovery:s0
